

  <h1>All Handbags</h1>

<ol>
  <% @handbags.each do |handbag| %>
    <li><%= link_to handbag.brand, handbag_path(handbag) %> - <%= handbag.color %> </li><br>
  <% end %>
</ol>

<%= link_to "New Handbag Entry", new_handbag_path %><br><br>

 <%= link_to "Shoe Index", shoes_path %><br><br><br>
  