<h1>All Designers</h1>



<ol>
  <% @designers.each do |designer| %>
    
    <%= link_to "Write  Review", new_designer_review_path(designer.id)%>
      <li><%= designer.name%> - <%= designer.country%></li><br> 
     
  <% end %>
</ol>

<%= link_to " Designer Reviews ", reviews_path %><br><br>
