Review Index Page

<!--nested route -->
<% if @designer %>
<h1>Reviews for <%= @designer.name%> </h1>
<% else %>
<h1>All the Reviews </h1>
<% end %>

<ul>
<% @reviews.each do |r| %>
<%= r.designer.try(:name) %>
<li> <%= link_to r.title, review_path(r)%> - <%= r.stars%></li> <br>
<% end %>
</ul>
