Review Show Page<br><br><br>


<h1><% @review.try(:designer).try(:name) %><h1>
 <h2><%= @review.title%> - Rating:<%= @review.stars%></h2>

 <p><%= @review.content%></p>

 <%=link_to "Designers", designers_path %>

 